
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

h1 > span {
    color: cornflowerblue;
}

ul {
    list-style-type: "";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

article > ul:nth-of-type(1) li:nth-of-type(2) {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 3;
}

article > ul:nth-of-type(1) li:nth-of-type(1) {
font-size: 20px;
font-weight: 300;
}

article > ul:nth-of-type(1) li:nth-of-type(3) {
font-size: 20px;
font-weight: 300;
}

.not-list {
    list-style: none;
}

search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: 0.25s;
}

/* wanneer iets in de search gefocussed word, gebeurt dit */
search:focus-within {
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    color: #333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 180px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

article > span {
    display: flex;
    justify-content: end;
}

.variant {
    font-weight: bold;
}